<div class="news">
  {{assign prev_talk_paper = "init" }}
  {% if site.talk != blank %}
    {% assign news_size = site.news | size %}
      <table class="table table-sm table-borderless">
        {% assign news = site.talk | sort: "date" | reverse%}
        {% for item in news%}
          {% if prev_talk_paper != item.paper%}
            {%if forloop.index != 1 %}
              <tr style="">
                <th scope="row" style="height:1em;width:20%; font-weight:300; padding-top=0px;padding-bottom:0px"></th>
                <td style="padding-top=0px;padding-bottom:0px">
                </td>
              </tr>
            {%endif%}

            <tr style="">
              <th scope="row" style="width: 20%; font-weight:300; padding-top=0px;padding-bottom:0px"></th>
              <td style="padding-top=0px;padding-bottom:0px">
                  {{ item.paper }}
              </td>
            </tr>
          {% endif %}
          {% assign prev_talk_paper = item.paper %}

          <tr>
            <th scope="row" style="width: 20%; font-weight:300; padding-top: 0rem; padding-bottom : 0rem;">{{ item.date | date: '%b %d, %Y' }}</th>
            <td style="font-weight:300; padding-top: 0rem; padding-bottom : 0rem;">
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            </td>
          </tr>

        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
